<h1>New Task</h1>

<% if logged_in? %>
<%= @error %>
  <form action='/tasks' method="post">
    To Do:
    <input type="text" name="content"><br>

    <input type="submit" value="Create">

  </form>

  <% else %>
      <h1> You Must Be Logged in to Create Tasks </h1>
  <% end %>
