<h1>Show Page</h1>

<h3>Task:</h3>

<%=@task.content%>
<br/>
<button onclick="window.location.href='/tasks/<%=@task.id%>/edit';">Edit Task</button>
<br/>
<form action="/tasks/<%=@task.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Task">
</form>
<% if @task.completed == true %>
<br/>
  <p>Task Completed :) </p>
<%else%>
  <form action="/tasks/<%=@task.id%>/completed" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Complete Task">
  </form>
<%end%>
<br/>
<button onclick="window.location.href='/tasks';">Home</button>
<br/>
