<h1>Sign Up</h1>

<form action='/signup' method='post'>

  Username: <input type="text" name="username"><br/>
  Password: <input type="text" name="password"><br/>
  Email: <input type="text" name="email"><br/>

  <input type="submit" value="Submit">
</form>
<br/>
Already have a Login?
<button onclick="window.location.href='/login';">Log In</button>
